version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0
    steps:
      - checkout
      - run:
          name: Build and Test
          command: ./gradlew build

workflows:
  build-and-test:
    jobs:
      - build
